<h2><%= @user.name %></h2>
<li> Tickets: <%= @user.tickets %></li>
<li> Nausea Rating: <%= @user.nausea %></li>
<li> Happiness Rating: <%= @user.happiness %></li>
<li> Height: <%= @user.height %></li>

<%= link_to "Show Attractions", attractions_path %>
